<footer>
    <div class="row">
        <div class="col-md-12 text-center">
            @DateTime.Now.Year all rights reserved
            <a href="/ReleaseLog" class="footer-text fw-medium" target="_blank">V 1.0.0</a>
        </div>
    </div>
</footer>
